#PBS -N <%= paste0("zmjones", job.hash) %>
#PBS -o <%= log.file %>
#PBS -l walltime=<%= resources$walltime %>
#PBS -l nodes=<%= resources$nodes %>
#PBS -l mem=<%= resources$memory %>
#PBS -A bbd5087_collab
#PBS -j oe

module load R
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'